# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*~

.env

dist

assets/node_modules
assets/bundles/webpack-bundle.dev.json
assets/bundles/dev
assets/bundles/webpack-bundle.prod.json
assets/bundles/prod
