[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0"
gunicorn = "*"
psycopg2 = "*"
django-environ = "*"
django-webpack-loader = "*"
django-polymorphic = "*"
django-jazzmin = "*"
django-widget-tweaks = "*"
markdown = "*"
pillow = "*"
pikepdf = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-env = "*"

[requires]
python_version = "3.10"
