[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
gunicorn = "*"
psycopg2 = "*"
django-environ = "*"
django-webpack-loader = "*"
django-polymorphic = "*"
django-jazzmin = "*"

[dev-packages]

[requires]
python_version = "3.10"
