@use 'libs/reset';

@use '@material/typography/mdc-typography';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/icon-button/styles' as icon-button-styles;
@use '@material/card';
@use '@material/form-field';
@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/textfield';
@use '@material/textfield/mixins' as textfield-mixins;
@use '@material/textfield/helper-text';
@use '@material/textfield/helper-text/mixins' as *;
@use '@material/textfield/character-counter';
@use '@material/radio/styles' as radio-styles;
@use '@material/checkbox';

@use 'include-media' as *;

// there seems to be some bug in mdc preventing @use with this one:
@import '@material/layout-grid/mixins';

@import 'material-icons/iconfont/filled.css';

@include card.core-styles;
@include form-field.core-styles;
@include textfield.core-styles;
@include helper-text.helper-text-core-styles;
@include character-counter.character-counter-core-styles;
@include checkbox.core-styles;


// TODO: grab these numeric values from the mdc defaults
$breakpoints: (phone: 480px, tablet: 600px, desktop: 840px);

.rp-maxwidth-grid {
  // the 992px is the only one we're customizing
  @include mdc-layout-grid('desktop', 24px, 992px);
  @include mdc-layout-grid('tablet', 16px);
  @include mdc-layout-grid('phone', 16px);
}

.rp-layout-cell-fill {
  grid-column-start: 1;

  & .mdc-text-field {
    width: 100%;
  }

  & .mdc-form-field {
  	width: 100%;
  }
}

.rp-layout-cell-text {
  // TODO: change both of these to something that applies also to textarea?
  // min-height: 75px;
}

.rp-label-cell,.rp-stock-cell-1 {
  grid-column-start: 1;
}

.rp-label-cell {
  margin-bottom: -8px;
}

.rp-text-field {
  // min-height: 75px;
  
  & .mdc-text-field {
    width: 100%;
  }
}

$maxlines: 100;
@for $i from 2 through $maxlines {
  .rp-textarea-rows-#{$i} {
    @include textfield-mixins.outlined-height(27px * $i - 8px);
  }
}

textarea.mdc-text-field__input {
  resize: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

.rp-program-card,.rp-form-card {
  &__title {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
  }
  
  &__subhead {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.rp-form-top {
  padding-top: 16px;
  padding-bottom: 8px;
}

.rp-form-bottom {
  grid-column-start: 1;
}

.rp-program-card {
  padding-bottom: 16px;
}

.rp-form-card {
}

.rp-prevpage-button {
  grid-column-start: 1;
  position: relative;
  top: 2px;
}

.rp-save-button {
  margin-top: 8px;
  
  @include media ("<tablet") {
    grid-column-start: 2;
  	grid-column-end: span 1;
  }
  @include media(">=tablet") {
  	grid-column-start: 4;
  }
}

.rp-submit-button {
  margin-top: 8px;
  
  @include media(">=tablet") {
  	grid-column-end: span 3;
  }
}

.mdc-card-wrapper__text-section {
  padding-left: 16px;
  padding-right: 16px;
   
  &:first-child {
    padding-top: 16px;
  }
}

.mdc-text-field-helper-text--persistent {
  &.mdc-text-field-helper-text--validation-msg {
    color: #af0109 !important;
  }
}
