{% extends 'admin/base.html' %}

{% block extrastyle %}
  <style>
    @media (max-width: 1200px) {
      .sidebar-mini.sidebar-collapse .main-sidebar,
      .sidebar-mini.sidebar-collapse .main-sidebar::before {
        margin-left: -250px;
      }
      .sidebar-mini.sidebar-collapse .content-wrapper,
      .sidebar-mini.sidebar-collapse .main-footer,
      .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 0!important;
      }
    }
  </style>
{% endblock %}


{% block extrajs %}
  <script>
    $(document).ready(function () {
      var plugin = $('[data-widget=pushmenu]');
      var opts = plugin.data('lte.pushmenu');
      opts['_options']['autoCollapseSize'] = 1200;
      plugin.data('lte.pushmenu', opts);
      if (document.body.clientWidth < 1200) plugin.PushMenu('collapse');
    });
  </script>
{% endblock %}
