{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block extrajs %}
  {{ block.super }}
  
  <script>
    $(document).ready(function () {
      $('select.search-filter').change(function () {
        document.forms['changelist-search'].submit();
      });
    });
  </script>
{% endblock %}

{% block content_title %}
{% if form_id %}
  {{ form_name }}  
{% else %}
  {{ cl.opts.verbose_name_plural|capfirst }}
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item">
  <a href="{% url 'admin:index' %}">
    <i class="fa fa-tachometer-alt"></i> {% trans 'Home' %}
  </a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'admin:app_list' app_label=opts.app_label %}">
    {{ opts.app_config.verbose_name }}
  </a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'admin:formative_form_changelist' %}">Forms</a>
</li>
<li class="breadcrumb-item">
  {{ form_name }}
</li>
</ol>
{% endblock %}
