{% load form_block %}

{% with styles=form_block.form.label_class.LabelStyle %}
{% with label=labels|get_by_style:styles.VERTICAL %}
{% if label %}
  {% include "./label_vertical.html" %}
{% endif %}
{% endwith %}
{% endwith %}

  {% with tsp=form_block.tablet_span dsp=form_block.desktop_span %}
  <div class="rp-collection-table mdc-data-table mdc-layout-grid__cell
              mdc-layout-grid__cell--span-{{ tsp }}-tablet
              mdc-layout-grid__cell--span-{{ dsp }}-desktop"
              {% if not items %}style="display: none;"{% endif %}>
  {% endwith %}
    <div class="mdc-data-table__table-container">
      <table id="collection{{ form_block.pk }}" class="mdc-data-table__table">
        <tbody class="mdc-data-table__content">
        {% for item in items %}
          {% include "./collection_item.html" with new=False %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <button class="rp-collection-button mdc-button mdc-button--outlined
                mdc-layout-grid__cell mdc-layout-grid__cell--span-2
                mdc-layout-grid__cell--span-3-tablet
                mdc-layout-grid__cell--span-3-desktop"
         type="button" name="save" value="save"
       {% if form_block.has_file and not form_block.file_optional %}
         data-needs-file="1"
       {% endif %}
         data-block-id="{{ form_block.pk }}">
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__focus-ring"></span>
    <span class="mdc-button__label">{{ form_block.button_text }}</span>
  </button>
  
  {% if form_block.has_file %}
  <input type="file" name="file{{ form_block.pk }}"
         {% if form_block.max_items > 1 %}multiple{% endif %}
         style="visibility: hidden;"/>
  {% endif %}
