{% load patched_widget_tweaks %}
{% load form_block %}
{% load utils %}

      <tr id="item{{ item|underscore:'id' }} class="mdc-data-table__row"
      {% with rank=item|underscore:'rank' %}
          data-rank="{{ rank }}">
      {% endwith %}
      {% if form_block.items_sortable %}
        <td class="rp-sort-handle-cell mdc-data-table__cell">
          <button type="button" class="mdc-icon-button material-icons">
            <div class="mdc-icon-button__ripple"></div>
            unfold_more
          </button>
        </td>
      {% endif %}
{% with error=item|underscore:'error' file=item|underscore:'file' %}
  {% item_extra_action item form_block new as extra %}
    {% with input_hidden=error|default:new %}
    {% with hide=input_hidden|yesno:' style="display: none;",'|safe %}
      {% for name, span in form_block.collection_fields_with_spans %}
        <td class="mdc-data-table__cell"
          {% if extra and forloop.counter == 1 %}
            colspan="{{ span }}"
          {% else %}
            colspan="{{ span|add:1 }}"
          {% endif %}{{ hide }}>
          {{ file }}
        </td>
      {% endfor %}
    {% endwith %}
    {% endwith %}
      {% with hide=new|yesno:', style="display: none;"'|safe %}
        <td class="rp-item-progress-cell mdc-data-table__cell"
            colspan="{{ form_block.horizontal_colspan|add:1 }}"{{ hide }}>
        </td>
      {% endwith %}
    {% with hide=error|yesno:', style="display: none;"'|safe %}
        <td class="rp-item-message-cell mdc-data-table__cell"
            colspan="{{ form_block.horizontal_colspan }}"{{ hide }}>
        {% if not hide %}
          <span class="rp-item-error">{{ item|underscore:'message' }}</span>
        {% endif %}
        </td>
    {% endwith %}
      {% if extra %}
        <td class="rp-item-action-cell mdc-data-table__cell">
          <button type="button" class="mdc-icon-button material-icons">
            <div class="mdc-icon-button__ripple"></div>
            upload
          </button>
        </td>
      {% endif %}
        <td class="rp-item-action-cell mdc-data-table__cell">
          <button type="button" class="mdc-icon-button material-icons">
            <div class="mdc-icon-button__ripple"></div>
            clear
          </button>
        </td>
{% endwith %}
      </tr>
