{% load patched_widget_tweaks %}
{% load form_block %}

{% with styles=form_block.form.label_class.LabelStyle %}
{% with label=labels|get_by_style:styles.VERTICAL %}
{% with hlabel=labels|get_by_style:styles.HORIZONTAL %}
{% with wlabel=labels|get_by_style:styles.WIDGET %}
{% if label %}
  <div class="rp-vertical-label-cell rp-layout-cell-start mdc-layout-grid__cell
              mdc-layout-grid__cell--span-8-tablet
              mdc-layout-grid__cell--span-8-desktop">
    <label
  {% if not hlabel and not wlabel %}
      for="{{ field.id_for_label }}"
  {% endif %}>
      {{ label.display }}: {# TODO: i18n for colon #}
    </label>
  </div>
{% endif %}

{% if hlabel %}
<div class="rp-horizontal-label-cell rp-layout-cell-start
            mdc-layout-grid__cell--span-2
            mdc-layout-grid__cell--span-2-tablet
            mdc-layout-grid__cell--span-2-desktop">
  <label {% if not wlabel %}for="{{ field.id_for_label }}"{% endif %}>
    {{ hlabel.display_inline }}:
  </label>
</div>
{% endif %}

{% with types=form_block.InputType %}
{% with s=hlabel|yesno:"-2,0" %}
{% with sp=form_block.span %}
{% with tsp=form_block.tablet_span %}{% with dsp=form_block.desktop_span %}
<div class="rp-layout-cell {% if not hlabel %}rp-layout-cell-start{% endif %}
            rp-layout-cell-{{ form_block.type }} mdc-layout-grid__cell
mdc-layout-grid__cell--span-{% if sp < 4 %}{{ sp }}{% else %}{{ sp|add:s }}{% endif %}
mdc-layout-grid__cell--span-{% if sp < 4 %}{{ tsp }}{% else %}{{ tsp|add:s }}{% endif %}-tablet
mdc-layout-grid__cell--span-{% if sp < 4 %}{{ dsp }}{% else %}{{ dsp|add:s }}{% endif %}-desktop
">
{% endwith %}{% endwith %}
{% endwith %}
{% endwith %}

{% if form_block.type == types.TEXT or form_block.type == types.NUMERIC %}
  {% include "./custom_block_text.html" %}
  
{% elif form_block.type == types.CHOICE %}
  {% for subfield in field %}
  <div class="rp-choice-field mdc-form-field">
  {% with clabels=labels|get_by_choice:subfield.data.value %}
  {% with cwlabel=clabels|get_by_style:styles.WIDGET %}
    <div class="mdc-radio mdc-radio--touch">
      {{ subfield|add_class:"mdc-radio__native-control" }}
      <div class="mdc-radio__background">
        <div class="mdc-radio__outer-circle"></div>
        <div class="mdc-radio__inner-circle"></div>
      </div>
      <div class="mdc-radio__ripple"></div>
      <div class="mdc-radio__focus-ring"></div>
    </div>
    {% if cwlabel %}
    <label for="{{ subfield.id_for_label }}">
      {{ cwlabel.display_inline }}
    </label>
    {% endif %}
  {% endwith %}
  {% endwith %}
  </div>
  {% endfor %}
  
{% elif form_block.type == types.BOOLEAN %}
  <div class="rp-boolean-field mdc-form-field">
    <div class="mdc-checkbox mdc-checkbox--touch">
      {% render_field field class+="mdc-checkbox__native-control" %}
      <div class="mdc-checkbox__background">
        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
          <path class="mdc-checkbox__checkmark-path" fill="none"
                d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
        </svg>
        <div class="mdc-checkbox__mixedmark"></div>
      </div>
      <div class="mdc-checkbox__ripple"></div>
    </div>
    {% if wlabel %}
    <label for="{{ field.id_for_label }}">{{ wlabel.display_inline }}</label>
    {% endif %}
  </div>
  
{% endif %}
{% endwith %}

{% endwith %}
{% endwith %}
{% endwith %}

{% endwith %}
</div>
