{% load patched_widget_tweaks %}
{% load form_block %}

{% with styles=block.form.label_class.LabelStyle %}
{% with label=labels|get_by_style:styles.VERTICAL %}
{% with hlabel=labels|get_by_style:styles.HORIZONTAL %}
{% with wlabel=labels|get_by_style:styles.WIDGET %}
{% if label %}
  <div class="rp-label-cell mdc-layout-grid__cell
              mdc-layout-grid__cell--span-8-tablet
              mdc-layout-grid__cell--span-8-desktop">
    <label
  {% if not hlabel and not wlabel %}
      for="id_{{ field.name }}"
  {% endif %}>
      {{ label.text }}
    </label>
  </div>
{% endif %}

<div class="rp-layout-cell-fill mdc-layout-grid__cell
            mdc-layout-grid__cell--span-{{ block.span }}
            mdc-layout-grid__cell--span-{{ block.tablet_span }}-tablet
            mdc-layout-grid__cell--span-{{ block.desktop_span }}-desktop">

{% with types=block.InputType %}
{% if block.type == types.TEXT or block.type == types.NUMERIC %}
  <div class="mdc-text-field mdc-text-field--outlined">
    {% render_field field class+="mdc-text-field__input" %}
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      {% if wlabel %}
      <div class="mdc-notched-outline__notch">
        <label for="id_{{ field.name }}" class="mdc-floating-label"
          {{ wlabel.text }}
        </label>
      </div>
      {% endif %}
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
  
  {% if field.errors %}
  <div class="mdc-text-field-helper-line">
    <div class="mdc-text-field-helper-text
                mdc-text-field-helper-text--persistent
                mdc-text-field-helper-text--validation-msg">
      {{ field.errors.0|escape }}
    </div>
  </div>
  {% endif %}
{% elif block.type == types.CHOICE %}
  {% for subfield in field %}
  <div class="rp-choice-field mdc-form-field">
  {% with clabels=labels|get_by_choice:subfield.data.value %}
  {% with cwlabel=clabels|get_by_style:styles.WIDGET %}
    <div class="mdc-radio mdc-radio--touch">
      {{ subfield|add_class:"mdc-radio__native-control" }}
      <div class="mdc-radio__background">
        <div class="mdc-radio__outer-circle"></div>
        <div class="mdc-radio__inner-circle"></div>
      </div>
      <div class="mdc-radio__ripple"></div>
      <div class="mdc-radio__focus-ring"></div>
    </div>
    {% if cwlabel %}
    <label for="{{ subfield.id_for_label }}">
      {{ cwlabel.text }}
    </label>
    {% endif %}
  {% endwith %}
  {% endwith %}
  </div>
  {% endfor %}
{% elif block.type == types.BOOLEAN %}

{% endif %}
{% endwith %}

{% endwith %}
{% endwith %}
{% endwith %}

{% endwith %}
</div>
