{% load patched_widget_tweaks %}
{% load form_block %}

{% with styles=form_block.form.label_class.LabelStyle %}
{% with label=labels|get_by_style:styles.VERTICAL %}
{% with hlabel=labels|get_by_style:styles.HORIZONTAL %}
{% with wlabel=labels|get_by_style:styles.WIDGET %}
{% if label %}
  <div class="rp-label-cell mdc-layout-grid__cell
              mdc-layout-grid__cell--span-8-tablet
              mdc-layout-grid__cell--span-8-desktop">
    <label
  {% if not hlabel and not wlabel %}
      for="{{ field.id_for_label }}"
  {% endif %}>
      {{ label.text }}
    </label>
  </div>
{% endif %}

{% with types=form_block.InputType %}
{{ block.type }}
<div class="rp-layout-cell-fill 
    {% if form_block.type == types.TEXT or form_block.type == types.NUMERIC %}
            rp-layout-cell-text
    {% endif %}
            mdc-layout-grid__cell
            mdc-layout-grid__cell--span-{{ block.span }}
            mdc-layout-grid__cell--span-{{ block.tablet_span }}-tablet
            mdc-layout-grid__cell--span-{{ block.desktop_span }}-desktop">

{% if form_block.type == types.TEXT or form_block.type == types.NUMERIC %}
  {% include "./custom_block_text.html" %}
  
{% elif form_block.type == types.CHOICE %}
  {% for subfield in field %}
  <div class="rp-choice-field mdc-form-field">
  {% with clabels=labels|get_by_choice:subfield.data.value %}
  {% with cwlabel=clabels|get_by_style:styles.WIDGET %}
    <div class="mdc-radio mdc-radio--touch">
      {{ subfield|add_class:"mdc-radio__native-control" }}
      <div class="mdc-radio__background">
        <div class="mdc-radio__outer-circle"></div>
        <div class="mdc-radio__inner-circle"></div>
      </div>
      <div class="mdc-radio__ripple"></div>
      <div class="mdc-radio__focus-ring"></div>
    </div>
    {% if cwlabel %}
    <label for="{{ subfield.id_for_label }}">
      {{ cwlabel.text }}
    </label>
    {% endif %}
  {% endwith %}
  {% endwith %}
  </div>
  {% endfor %}
  
{% elif form_block.type == types.BOOLEAN %}
  <div class="rp-boolean-field mdc-form-field">
    <div class="mdc-checkbox mdc-checkbox--touch">
      {% render_field field class+="mdc-checkbox__native-control" %}
      <div class="mdc-checkbox__background">
        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
          <path class="mdc-checkbox__checkmark-path" fill="none"
                d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
        </svg>
        <div class="mdc-checkbox__mixedmark"></div>
      </div>
      <div class="mdc-checkbox__ripple"></div>
    </div>
    {% if wlabel %}
    <label for="{{ field.id_for_label }}">{{ wlabel.text }}</label>
    {% endif %}
  </div>
  
{% endif %}
{% endwith %}

{% endwith %}
{% endwith %}
{% endwith %}

{% endwith %}
</div>
