{% extends 'apply/base.html' %}

{% load widget_tweaks %}

{% block pre_layout %}
<form method="post">
{% csrf_token %}
{% endblock %}

{% block content %}
  {% for field in form.visible_fields %}
    {{ field.errors }}
    <div class="mdc-text-field mdc-text-field--outlined
                mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      {% render_field field class+="mdc-text-field__input" %}
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="id_{{ field.name }}" class="mdc-floating-label">
            {{ field.label }}
          </label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  {% endfor %}
  <input type="submit" value="Submit">
{% endblock %}

{% block post_layout %}
</form>
{% endblock %}
