{% extends 'apply/base.html' %}

{% load form_block %}

{% block pre_layout %}
<form method="post">
{% csrf_token %}
{% endblock %}

{% block content %}
    {# TODO: put in app bar {{ program_form.name }} #}
    {% if page == 1 %}
    <div class="rp-form-top mdc-layout-grid__cell
                mdc-layout-grid__cell--span-1">
      Email:
    </div>
    <div class="rp-form-top mdc-layout-grid__cell
                mdc-layout-grid__cell--span-3">
      {{ submission.email }}
    </div>
    {% endif %}
    
    {% for block in visible_blocks %}
      {% if block.block_type == 'custom' %}
        {% block_field form block as field %}
        {% include "./custom_block.html" %}
      {% elif block.block_type == 'collection' %}
        {% include "./collection_block.html" %}
      {% else %}
        {% include_stock block %}
      {% endif %}
    {% endfor %}
    
  <input class="rp-submit-button mdc-button mdc-button--raised
                mdc-layout-grid__cell mdc-layout-grid__cell--span-3"
         type="submit" value="continue">
  {{ form.errors }}
  {{ form.non_field_errors }}
{% endblock %}

{% block post_layout %}
</form>
{% endblock %}
