{% extends 'apply/base.html' %}

{% load form_block %}

{% block pre_layout %}
<form method="post">
{% csrf_token %}
{% endblock %}

{% block content %}
    {# TODO: put in app bar {{ program_form.name }} #}
    {% if page == 1 %}
    <div class="rp-form-top mdc-layout-grid__cell
                mdc-layout-grid__cell--span-1">
      Email:
    </div>
    <div class="rp-form-top mdc-layout-grid__cell
                mdc-layout-grid__cell--span-3">
      {{ submission.email }}
    </div>
    {% endif %}
    
    {% for form_block in visible_blocks %}
      {% block_labels field_labels form_block as labels %}
      {% if form_block.block_type == 'custom' %}
        {% block_field form form_block as field %}
        {% include "./custom_block.html" %}
        
      {% elif form_block.block_type == 'collection' %}
        {% include "./collection_block.html" %}
        
      {% else %}
        {% include_stock form_block labels %}
        
      {% endif %}
    {% endfor %}
    
    {% if program_form.num_pages > 1 %}
      <div class="rp-form-bottom mdc-layout-grid__cell">
        Page {{ page }} of {{ program_form.num_pages }}
      </div>
    {% endif %}
  <input class="rp-submit-button mdc-button mdc-button--raised
                mdc-layout-grid__cell mdc-layout-grid__cell--span-3"
         type="submit" value="continue">
  {{ form.non_field_errors }}
{% endblock %}

{% block post_layout %}
</form>
{% endblock %}
